arrow
asgiref
binaryornot
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
crispy-bootstrap5
distlib
Django
django-appconf
django-browser-reload
django-compressor
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-tailwind
djangorestframework
EasyProcess
entrypoint2
filelock
idna
Jinja2
Markdown
markdown-it-py
MarkupSafe
mdurl
MouseInfo
mss
Pillow
platformdirs
psycopg2
PyAutoGUI
pygame
PyGetWindow
Pygments
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
python-slugify
pytweening
pytz
PyYAML
rcssmin
requests
rich
rjsmin
six
sqlparse
text-unidecode
types-python-dateutil
tzdata
urllib3
virtualenv
whitenoise